@import "tailwindcss";

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --background: #e6edf5;
  --foreground: #0f172a;
  --card-hover: #ffffff;
  --card: #ffffff;
  --navbar: #d1daec; 
  --secondary: #b6c5ec;
  --border: #e2e8f0;
}

.dark {
  /* --background: #0a0a0a;
  --foreground: #ededed; */
  --background: #0b1120;       
  --foreground: #f1f5f9;       
  --card-hover: #111827;
  --card: #111827;  
  --navbar: #283047;           
  --secondary: #14172d;
  --border: #1f2937;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
